/*CSS page */

body {
	text-align: center; 
	display: flex; 
	justify-content: center;
	align-items: center;	
}

.login{
    position: relative; 
	z-index: 1;
	text-align: right;
	padding : 5px 10px;
	color: #E47C1F;
	font-weight: bold;
}

.login:a{
	background-color: #4C5DE0;
	color: #FFFFFF;
}

.connexion{
	margin: 12% 0%;
	/*margin-top: 20%;*/
	padding: 20px 15px;
	/*max-width: 400px;*/
	height: auto;
	background-color: #E9573F;
	border-radius: 5px;
}

.connexion h1{
	color: white;
}

.form-control{
	text-align: center;
	margin: 20px 0px;
	margin-left: 25%;
	width: 50%;
}

footer{
	position: fixed;
	z-index: 1;
	min-height: 50px;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;	
	text-align: center;
	background: #E9573F;
	color: white;
}

