/*CSS page d'accueil*/

.container{
	width: 100%;
}

.googlemaps { 
    height: 100%; 
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0;   
    z-index: 0; 
}

.login{
	background-color: #FFFFFF;
	border-bottom-radius:5px;
    position: relative; 
	z-index: 1;
	text-align: right;
	padding : 5px 10px;
	color: #E47C1F;
	font-weight: bold;
}

.login:a{
	background-color: #4C5DE0;
	color: #FFFFFF;
}

.titre{
    position: relative; 
	z-index: 1;
	text-align: center;
	padding : 25px 0px;
	color: #E47C1F;
	font-size: 75px;
	font-weight: bold;
	font-style: italic;
}

.link{
	position: relative; 
	z-index: 1;
	text-align: center;
}

.button{
	background-color: #4C5DE0;
	color: white;
	padding: 15px 10px;
	border-bottom: solid 5px #4353CA;
}

.button:active{
	border-bottom: solid 5px #4C60F2;	
}

.button_details{
	text-align: center;
	background-color: #4C5DE0;
	color: white;
	padding: 5px 3px;
	border-bottom: solid 5px #4353CA;
}

.button_details:active{
	border-bottom: solid 5px #4C60F2;	
}

.main{
	position: relative; 
    z-index: 1; 
    width: 60%;
    min-width: 250px;
    margin: 60px auto 0;
    padding: 15px 30px;
    background: black;
    height: auto;
    opacity: .85;
    color: white;
    box-shadow: 0px -3px 10px 2px #505050;
}

.annonces {     
    /*flex*/
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.annonce{
	opacity: initial;
	padding: 5px;
	margin: 5px;
	border : solid 2px #BEBEBE;
	background: #000000;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}

footer{
	z-index: 1;
	min-height: 50px;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;	
	text-align: center;
	background: #2F3140;
	color: white;
}