/*CSS page Recherche*/

.container{
}

header {
	z-index: 1;
	padding : 20px 0px;
	text-align: center;
}

.logo {
	text-align: center;
}

.logo span{
	padding: 20px 32px;
	color: white;
	background-color: #E47C1F;
	font-size: 55px;
	font-weight: bold;
	border-radius: 100%;	
}

.main{
	margin-top: 30px;
	display: -ms-flex;
  	display: -webkit-flex;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	height: 100%;
  	min-height: 750px;
}

.Recherche {
	padding: 0px 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.services{
	background-color: #E1E1E1;
	color: #000000;
	padding: 0 5px;
	flex: 1 2;
}

.services h2{
	border-bottom: 2px solid #E47C1F;	
}

.tuile{	
	margin: 10px;
	padding: 10px;
	background-color: #F3ECE3;
}

.tuile:hover{
	background-color: #E6D9C8;
}

.liste{
	overflow-y: auto;
	height: 100vh;
	background-color: #FFFFFF;
}

.liste div{
	padding: 10px 15px;
	border-top: 2px solid #808080;
	border-bottom: 2px solid #808080;
}

.liste div:hover{
	background-color: #F3F3F3;
}

.liste div p{
	padding-left: 15px;
}

.carte{
    flex: 2;
    height: 100%;
}

.button_details{
	margin: 10px 0px;
	padding: 8px 18px;
	color: white;
	font-size: 16px;
	background-color:#007CB0 ;
	border: none;		
	border-bottom: solid 3px #005B8C;
}

footer{
	z-index: 1;
	min-height: 50px;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;	
	text-align: center;
	background: #2F3140;
	color: white;
}