/*CSS page Recherche*/

.container{
}

header {
	z-index: 1;
	padding : 20px 0px;
	text-align: center;
}

.logo {
	text-align: center;
}

.logo span{
	padding: 20px 32px;
	color: white;
	background-color: #E47C1F;
	font-size: 55px;
	font-weight: bold;
	border-radius: 100%;	
}

.main{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.Recherche {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
}

.services{
	background-color: #E1E1E1;
	color: #000000;
	padding: 20px;
	flex-basis: 2;
}

.services div{
	border-bottom: 2px solid #808080;
}

.carte{
    flex: 1;
    border: 1px solid orange;	
}

footer{
	z-index: 1;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;	
	text-align: center;
	background: #1B2ABA;
	color: white;
}