/*CSS page Recherche*/

.container{
	width: 100%;
}

.login{
    position: relative; 
	z-index: 1;
	text-align: right;
	padding : 5px 10px;
	color: #E47C1F;
	font-weight: bold;
}

.login:a{
	background-color: #4C5DE0;
	color: #FFFFFF;
}

header {
	z-index: 1;
	padding : 5px 0px;
	text-align: center;
}

.logo {
	text-align: center;
}

.logo span{
	padding: 20px 32px;
	color: white;
	background-color: #E9573F;
	font-size: 55px;
	font-weight: bold;
	border-radius: 100%;	
}

.main{
  	height: 100%;
  	margin-top:20px;
  	min-height: 750px;
  	background-color: #E6E9ED;
}

nav{
	margin-top: 4px;
	padding: 20px 0px;
	background-color: #E9573F;
	border-bottom: solid 4px #FC6E51;
	border-top-radius:5px;
}

.Recherche {
	padding: 0px 15px;
	/*display: flex;
	flex-direction: row;*/
}


.dropdown{
	/*margin-left: 15px;*/
	padding: 5px 0px;
	font-size: 18px;
	border-radius: 5px;
}

.keyword{
	font-size: 18px;
	padding: 5px 2px;
	border-radius: 5px;
}

.sousCategorie ul{
	margin: 0;
	margin-top: 15px;
	padding: 0;
	list-style: none;
	
}

.sousCategorie ul li{
	display: inline;
	padding: 10px;
	background-color: #FFFFFF;
	border: 1px solid #E9573F;
}

.labelSC{
	color: #000000;
	font-size: 16px;
	margin-right: 5px;
}

.services{
	background-color: #E6E9ED;
	color: #000000;
	flex: 1 2;
	height: 100%;
}

.tuile{	
	margin: 10px;
	padding: 10px;
	background-color: #F5F7FA;
	border-radius: 5px;
}

.liste{
	overflow-y: auto;
	height: 100vh;
}

.serviceDetail{
	background-color: #F5F7FA;
	margin : 5px;
	padding : 15px;
	border-radius: 5px;
}

.serviceDetail input{
	margin: 5px 0px;
}


.carte{
    flex: 2;
    height: 100%;
}

footer{
	z-index: 1;
	min-height: 50px;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;	
	text-align: center;
	background: #E9573F;
	color: white;
}

@media (max-width: 700px) {
	.main{
		display: flex;
  		flex-direction: column;
  		/*flex-wrap: wrap;*/
  		width: 100%;
  		min-height: 550px;
	}

	.Recherche {
		flex: 1;
		order: 1;
		display: flex;
		flex-direction: column;
	}

	.services{
		background-color: #E1E1E1;
		color: #000000;
		flex: 1;
		order: 3;
	}

	.carte{
	    flex: 1;
	    order: 2;
	    width: 100%;
	    height: 250px;
	}
}