{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Se connecter{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <div class="connexion">
        <h1>Se connecter</h1>
        <!-- creation du formulaire d'inscription -->
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" class="from-control" id="username" name="_username" placeholder="Pseudonyme" value="{{ last_username }}" required="required" />
            <input type="password" class="from-control" id="password" placeholder="Mot de passe" name="_password" required="required" />
            <br>
            <input type="checkbox" class="from-control" id="remember_me" name="_remember_me" value="on" /><label for="remember_me">Se rappeller de moi</label>
            <br>
            <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="se connecter" />
        </form>
    </div>
</div>
{% endblock fos_user_content %}